.c {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: center;
  border: 1px solid black;
  gap: 5px;
}
.grid-image {
  max-width: 100%;
  height: auto;
}
