.movie-container {
  margin-top: 30px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto;
}

.movie-card {
  max-width: 400px;
  padding: 30px;
  font-size: 30px;
  text-align: justify;
  border: 2px solid #2a5f87;
  margin-left: 40px;
  border-radius: 10px 30px;
  background-color: #2a5f87;
  color: white;
}

.movie-card:hover {
  background-color: #422b25;
}

.movie-poster {
}

.grid-image {
  border-radius: 30px 10px;
}
