.container-navbar {
  background-color: #343a40;
  box-shadow: 2px 14px 25px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 14px 25px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 14px 25px -9px rgba(0, 0, 0, 0.5);
}

.navbar {
  max-width: 1050px;
  height: 65px;
  margin: 0 auto;
  /* background-color: #343a40; */
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.navbar-title {
  color: white;
  margin: 0 0 0 10px;
}

.navbar-lists {
  display: grid;
  height: 100%;
  padding-left: 0;
  grid-template-columns: repeat(3, auto);
  margin: 0 0 0 auto;
}

.element-list {
  height: 100%;
  list-style-type: none;
  /* border:1px solid white */
}

.element-list .enlace {
  height: inherit;
  color: #9a9d93;
  font-weight: 500;
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element-list .enlace:hover {
  color: #c9ccbe;
  cursor: pointer;
}
