body {
  background-color: blanchedalmond;
  padding: 0px;
  margin: 0px;
}
.horialign {
  height: 250px;
  max-width: 800px;
  background-color: powderblue;
  text-align: justify;
  text-align-last: center;
  text-transform: capitalize;
  text-indent: 30px;
  letter-spacing: 5px;
  line-height: 1.5;
  word-spacing: 15px;
  /* white-space: nowrap; */
}

.vericalaligndiv{

}

.para{
    font-size: 20px;
    font-weight: bold;
}

p.a{
    vertical-align: baseline;
}