.parent{
    height: 250px;
    width: 1200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px  1fr 50px;
    margin:50px;
}

.child{
    background-color: gray;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.child:hover{
    background-color: darkgray;
    cursor: pointer;
}

.div5{
    order: 1
}