body {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: #f8f9fa;
  height: 100vh;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
}

.navbarDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar {
  text-decoration: none;
  color: black;
}

.menuImagesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* justify-content: center;
    align-items: center;
    align-content: center; */
}

.menuImagesDivDesign {
  /* border-radius: 20px 30px; */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
